
body {
  background-image: url("./images/wood-background.jpg");
  background-size:1000px;
}

.alt-font {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.AppHeader {
  color: white;
}

.AppHeader img {
  width: 125px;
}

.AppHeader h1 {
  font-size: 4.5em;
  margin-top: 10px;
  text-shadow: 2px 2px 8px black;
}

.RandomRecordGenerator {
  min-height: 100vh;
  color: white;
}

.RandomRecordGenerator .btn-lg{
  width: 200px;
}

.AddRecord {
  min-height: 100vh;
  color: white;
}

.EditRecord {
  min-height: 100vh;
  color: white;
}

form label {
  font-weight: 600;
}

.RecordManager {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.record-tile-container {
  width: 250px;
  border: 2px solid yellow;
  margin: 20px auto;
  padding: 5px;
  background-color: white;
}

.record-tile-container img {
  width: 100%;
}

.record-tile-container .no-img {
  width: 100%;
  height: 225px;
}

.record-tile-container .desc a, .record-tile-container .desc a:visited {
  color: darkcyan;
}

.star-fav {
  float: right;
  color: goldenrod;
}

.desc {
  max-height: 200px;
  padding: 10px;
}

.desc h2 {
  color: purple;
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 5px;
}

.desc h3 {
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  padding-bottom: 5px;
}

.desc h4 {
  color: black;
  font-size: 1.1em;
  font-weight: 400;
}

.record-tile-container strong {
  color: red;
  font-size: 1.4em;
  font-weight: 500;
}

svg {
  width: 400px;
  height: 400px;
}

#label {
  fill: yellow;
}

@keyFrames spin {
  100%{transform: rotate(360deg);}
}

#record {
  transform-origin: center center;
  animation: spin 4s linear infinite;
}

.line {
  stroke: white;
}