body {
  background-image: url('../images/vinyl-wallpaper.jpg');
  font-family: Georgia, 'Times New Roman', Times, serif;

  .btn {
    font-weight: 600;
  }

  .btn-warning {
    color: white;
  }

  h1 {
    font-size: 3em;
  }
}

.AppHeader {
  color: white;

  img {
    width: 80px;
  }

  h1 {
    font-size: 4.5em;
    margin-top: 10px;
    text-shadow: 2px 2px 8px black;
  }
}

.RandomRecordGenerator {
  min-height: 100vh;
  color: white;

  .btn-lg {
    width: 220px;
  }

  .record-tile-container {
    width: 450px;
    height: 800px;
    padding: 20px;

    .desc h2 {
      font-size: 2em;
      font-weight: 600;
      margin-top: 10px;
    }

    .desc h3,
    .desc h4 {
      font-size: 1.5em;
      font-weight: 600;
    }

    .pulsate {
      -webkit-animation: color_change 1s infinite alternate;
      -moz-animation: color_change 1s infinite alternate;
      -ms-animation: color_change 1s infinite alternate;
      -o-animation: color_change 1s infinite alternate;
      animation: color_change 1s infinite alternate;
      font-size: 2em;
    }

    @keyframes color_change {
      from {
        color: yellow;
      }
      to {
        color: red;
      }
    }
  }
}

.AddRecord {
  min-height: 100vh;
  color: white;
}

.EditRecord {
  min-height: 100vh;
  color: white;
}

form label {
  font-weight: 600;
}

.RecordManager {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;

  .list {
    display: grid;
    margin: 20px 0 50px 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2em;
  }

  .record-tile-container {
    width: 250px;
    height: 520px;
    border: 2px solid yellow;
  }
}

.record-tile-container {
  margin: 20px auto;
  background-color: white;
  position: relative;

  .star-fav {
    float: right;
    color: gold;
  }

  img {
    width: 100%;
    padding: 5px;
  }
  .no-img {
    width: 100%;
    height: 225px;
  }

  .tile-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .desc {
    height: 240px;
    padding: 10px;

    a,
    a:visited {
      color: darkcyan;
    }

    h2 {
      color: purple;
      font-size: 1.2em;
      font-weight: 500;
      padding-bottom: 5px;
    }

    h3 {
      color: black;
      font-size: 1.1em;
      font-weight: 500;
      padding-bottom: 5px;
    }

    h4 {
      color: black;
      font-size: 1.1em;
      font-weight: 400;
    }
  }
}
