body {
  background-image: url('../images/vinyl-wallpaper.jpg');
  background-attachment: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;

  .btn {
    font-weight: 600;
  }

  .btn-warning {
    color: #17a2b8;
    background-color: yellow;
    border-color: yellow;
  
    &:hover {
      color: black;
      background-color: yellow;
      border-color: yellow;
    }
  }

  .btn-info {
    &:not(.btn-tab) {
      &:hover {
        color: black;
        background-color: cyan;
        border-color: cyan;
      }
    }
  }

  .btn-danger {
    &:hover {
      color: cyan;
      background-color: red;
      border-color: red;
    }
  }

  .btn-light {
    &:hover {
      background-color: #888;
      border-color: #888;
      color: white;
    }
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    @media only screen and (max-width: 500px) {
      font-size: 1.5em;
    }
  }

  hr {
    margin-top: 0;
    width: 75%;
    border-top: 1px solid white;
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .container select.form-control {
    min-width: 175px;
  }

  #searchInput {
    border: 0;
    width: 220px;
  }

  .clear-btn {
    background-color: white;
    border: 0;
    width: 35px;
    i {
      cursor: pointer;
    }
    &:hover {
      color: red;
    }
  }

  .info-icon {
    width: 22px;
    height: 22px;
    float: right;
    margin-top: 2px;
  }

  .tooltip {
    margin-left: 7px;
  }
  .tooltip > div.tooltip-inner {
    background-color: yellow !important;
    color: black !important;
    font-weight: 500;
    font-size: 14px;;
    text-align: left;
  }

  .login-link {
    color: yellow;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      color: cyan;
      text-decoration: none;
    }
  }

  .select-after-scroll {
    background-color: yellow !important;
  }

  .loading-records {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
  }
}

.app-header {
  color: white;

  img {
    width: 80px;
    filter: drop-shadow(0 0 10px yellow);
  }

  h1 {
    font-size: 4.5em;
    margin-top: 10px;
    margin-left: 5%;
    text-shadow: 2px 2px 8px black;

    @media only screen and (max-width: 900px) {
      font-size: 2.5em;
    }
  }

  .row {
    justify-content: center;
  }

  .btn-tab {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    width: 180px;
    @media only screen and (max-width: 900px) {
      padding: 3px;
      width: 130px;
      font-size: 13px;
    }
  }

  .about-btn {
    position: absolute;
    top: 30px;
    right: 60px;

    @media only screen and (max-width: 900px) {
      position: static !important;
      float: right;
      padding: 1px;
      background: none;
      border: none;
      color: cyan;
      &:hover {
        background: none !important;
        border: none !important;
      }
    }

  }

  .logout {
    position: absolute;
    top: 30px;
    left: 60px;

    @media only screen and (max-width: 900px) {
      position: static !important;
      float: left;
      .btn {
        padding: 1px;
        background: none;
        border: none;
        color: #dc3545;
      }
      .user-name {
        display: none;
      }
    }
  }
}

.random-record-generator {
  min-height: 100vh;
  color: white;

  select {
    @media only screen and (max-width: 500px) {
      margin-left: 0 !important;
    }
  }

  .tile-wrapper {
    opacity: 1;
    transition: opacity 2s;
  
    &.hidden-wrapper {
      opacity: 0;
    }
  }

  .record-tile-container {
    max-width: 375px;
    min-height: 595px;
    padding: 12px 8px;

    &:hover {
      transform: scale(1.03);
      transition: all 0.2s ease-out;
    }

    img {
      width: 95%;
      padding: 0;
    }

    .desc h2 {
      font-size: 1.5em;
      font-weight: 600;
    }

    .desc h3 {
      font-size: 1.55em;
      font-weight: 600;
      padding-bottom: 0;
    }

    .desc h4 {
      font-size: 1.15em;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .pulsate {
      animation: color_change 0.5s infinite alternate;
      font-size: 1.5em;
      position: absolute;
      bottom: 15px;
      width: 100%;
      left: 0;
    }

    .mt-3 {
      margin-top: 0 !important;
    }

    @keyframes color_change {
      from {
        color: purple;
      }
      to {
        color: cyan;
      }
    }
  }
}

.add-record, .edit-record, .login-page, .create-user-page {
  min-height: 100vh;
  color: white;
}

form label {
  font-weight: 600;
}

.record-manager {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;

  .manage-forms>div{
    margin-bottom: 5px;
  }

  .manage-forms .form-group {
    margin-bottom: 0;
    text-align: center;
  }

  label.record-count {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .input-group {
    max-width: 300px;
  }

  #searchInput:focus, .btn:focus { 
    box-shadow: none;
  }

  .list {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2em;
  }

  .record-tile-container {
    width: 250px;
    height: 520px;
  }

  .hide-before-delete {
    opacity: 0;
    transition: opacity 1500ms ease-out;
  }

  .btn-link {
    color: yellow;
    text-decoration: none;

    &:hover {
      color: cyan;
    }

    &.to-top {
      position: fixed;
      bottom: 20px;
      left: 10px;
      @media only screen and (max-width: 600px) {
        left: 0;
      }
    }
  }
}

.record-tile-container {
  margin: 20px auto;
  background-color: white;
  position: relative;
  border-radius: 3px;
  transition: background-color 1s ease;

  .star-fav {
    position: absolute;
    right: 2%;
    font-size: 30px;
    color: yellow;
    text-shadow: 1px 1px 10px #888, 1px 1px 10px #888;
  }

  img {
    width: 100%;
    padding: 8px;
  }

  .no-img {
    width: 100%;
    height: 225px;
  }

  .tile-footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      width: 80%;
    }
  }

  .desc {
    height: 250px;
    padding: 10px;
    text-align: center;

    a, a:visited {
      color: darkcyan;
      &:hover {
        color: cyan;
        text-decoration: none;
      }
    }

    h2 {
      color: orangered;
      font-size: 1.2em;
      font-weight: 600;
      padding-bottom: 5px;
    }

    h3 {
      color: black;
      font-size: 1.2em;
      font-weight: 600;
      padding-bottom: 5px;
    }

    h4 {
      color: black;
      font-size: 1.1em;
      font-weight: 400;
    }
  }
}

.record-table-head {
  th {
    border: 2px solid white;
  }

  th.sortable {
    cursor: pointer;
    min-width: 85px;
    i.fa {
      margin-left: 4px;
    }
  }

  th.button-column {
    min-width: 80px;
    text-align: center;
  }
}

table.table {
  margin-top: 10px;
}

.record-table-body {
  tr {
    transition: background-color 1s ease;
  }

  td {
    border: 2px solid white;
    vertical-align: middle;
    padding-left: 4px;

    a.album-link {
      color: cyan;
      &:hover {
        color: yellow;
        text-decoration: none;
      }
    }
  }

  .cover-thumbnail {
    padding-right: 2px;
  }
}

.not-found-page {
  color: yellow;
}

.record-stats {

  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
  
  .chart-div {
    .highcharts-container{
      width: 100% !important;
      height: 100% !important;
      margin-bottom: 20px;
    }
    
    .highcharts-root{
      width: 100% !important;
      height: 100% !important;
    }
  }

  .oldest-newest {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
    @media only screen and (max-width: 500px) {
      justify-content: center
    }
  }

  p {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .asterisk {
    font-size: 14px;
    font-weight:normal;
  }

  .record-tile-container {
    width: 250px;
    max-height: 455px;
    padding: 12px 8px;
    margin-top: 5px;
    margin-bottom: 5px;

    .mt-3 {
      display: none;
    }
  }
}

.modal-screenshots {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;

  img {
    height: 250px;
    margin: 5px auto;
  }
}
