body {
  background-image: url('../images/vinyl-wallpaper.jpg');
  font-family: Georgia, 'Times New Roman', Times, serif;

  .btn {
    font-weight: 600;
  }

  .btn-warning {
    color: white;
    &:hover {
      color: red !important;
    }
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .container select.form-control {
    height: 35px !important;
  }

  #searchInput {
    border: 0;
    width: 220px;
  }

  .clearBtn {
    background-color: white;
    border: 0;
    width: 35px;
    i {
      cursor: pointer;
    }
  }
}

.AppHeader {
  color: white;

  img {
    width: 80px;
    filter: drop-shadow(0 0 10px yellow);
  }

  h1 {
    font-size: 4.5em;
    margin-top: 10px;
    margin-left: 5%;
    text-shadow: 2px 2px 8px black;
  }

  .row {
    justify-content: center;
  }

  .aboutBtn {
    position: absolute;
    top: 30px;
    right: 60px;
  }
}

.RandomRecordGenerator {
  min-height: 100vh;
  color: white;

  .tile-wrapper {
    opacity: 1;
    transition: opacity 2s;
  
    &.hidden-wrapper {
      opacity: 0;
    }
  }

  .btn-lg {
    width: 220px;
  }

  .record-tile-container {
    width: 430px;
    height: 688px;
    padding: 15px;

    &:hover {
      transform: scale(1.03);
      transition: all 0.2s ease-out;
    }

    img {
      width: 90%;
    }

    .desc h2 {
      font-size: 1.75em;
      font-weight: 600;
      margin-top: 10px;
    }

    .desc h3 {
      font-size: 1.75em;
      font-weight: 600;
    }

    .desc h4 {
      font-size: 1.25em;
      font-weight: 600;
    }

    .pulsate {
      animation: color_change 0.5s infinite alternate;
      font-size: 1.75em;
    }

    .mt-3 {
      margin-top: 0 !important;
    }

    @keyframes color_change {
      from {
        color: purple;
      }
      to {
        color: cyan;
      }
    }
  }
}

.AddRecord {
  min-height: 100vh;
  color: white;
}

.EditRecord {
  min-height: 100vh;
  color: white;
}

form label {
  font-weight: 600;
}

.RecordManager {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;

  label.recordCount {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
  }

  #searchInput:focus, .btn:focus { 
    box-shadow: none;
  }

  .list {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2em;
  }

  .record-tile-container {
    width: 250px;
    height: 520px;
  }
}

.record-tile-container {
  margin: 20px auto;
  background-color: white;
  position: relative;
  border-radius: 5px;

  .star-fav {
    position: absolute;
    right: 2%;
    font-size: 30px;
    color: yellow;
    text-shadow: 1px 1px 10px #888, 1px 1px 10px #888;
  }

  img {
    width: 100%;
    padding: 8px;
  }
  .no-img {
    width: 100%;
    height: 225px;
  }

  .tile-footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      width: 80%;
    }
  }

  .desc {
    height: 250px;
    padding: 10px;
    text-align: center;

    a,
    a:visited {
      color: darkcyan;
    }

    h2 {
      color: orangered;
      font-size: 1.2em;
      font-weight: 600;
      padding-bottom: 5px;
    }

    h3 {
      color: black;
      font-size: 1.2em;
      font-weight: 600;
      padding-bottom: 5px;
    }

    h4 {
      color: black;
      font-size: 1.1em;
      font-weight: 400;
    }
  }
}
