
.NotFoundPage svg {
  width: 450px;
  height: 450px;
}

.NotFoundPage #label {
  fill: url(#skippingRecordGradient);
}

.NotFoundPage #skippingRecordGradient stop.start-color {
  stop-color: blue;
}

.NotFoundPage #skippingRecordGradient stop.end-color {
  stop-color: green;
}

@keyframes skip {
  100% {
    transform: rotate(30deg);
  }
}

.NotFoundPage #record {
  transform-origin: center center;
  animation: skip 0.8s linear infinite;
}

.NotFoundPage .line {
  stroke: white;
}
