svg {
  width: 400px;
  height: 400px;
}

#label {
  fill: yellow;
}

@keyFrames spin {
  100%{transform: rotate(360deg);}
}

#record {
  transform-origin: center center;
  animation: spin 4s linear infinite;
}

.line {
  stroke: white;
}