svg {
  width: 450px;
  height: 450px;
}

#label {
  fill: url(#yellowRedGradient);
}

#yellowRedGradient stop.start-color {
  stop-color: yellow;
}

#yellowRedGradient stop.end-color {
  stop-color: red;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#record {
  transform-origin: center center;
  animation: spin 4s linear infinite;
}

.line {
  stroke: white;
}
